*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "box-1"
    "box-2"
    "box-3";
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 10.5vh 0;
  grid-gap: 2vh;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  border-radius: 1rem;
}

.box:hover{
  cursor: pointer;
}

.monochromatic{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  animation: monoIn 1s forwards ease-out;
  grid-area: box-1;
}

.mono1{
  animation: flyIn 1s forwards ease-out;
}

.mono2{
  display: flex;
  justify-content: space-around;
  animation: flyIn 1s forwards ease-out;
}

.controls {
  display: flex;
  width: 100%;
}

#monoCon, #compCon, #anagCon{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.controls input{
  height: 1rem;
}


.complimentary{
  background-image: linear-gradient(to right, yellow , white,  purple);
  animation: compIn 1s forwards ease-out;
  grid-area: box-2;
}

.anagulous{
  background-image: linear-gradient(to right, rgb(0, 85, 255) , rgb(0, 213, 255),  rgb(0, 255, 170));
  animation: anagIn 1s forwards ease-out;
  grid-area: box-3;
}

#monoShow, #monoCon, #compShow, #compCon,  #anagShow, #anagCon{
  display: none;
}

.boxe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

#monoShow .boxe{
  max-width: calc(1100px / 5);
  width: 15vw;
}

#compShow .boxe{
  max-width: calc(1100px / 2);
  width: 45vw;
}
#anagShow .boxe{
  max-width: calc(1100px / 3);
  width: 30vw;
}

.flyOut{
  animation: flyOut 1s forwards ease-in;
}

.flyIn{
  animation: flyIn 1s forwards ease-out;
}

.box h1{
  opacity: 0;
}

h1{
  font-size: 8rem;
  animation: textIn 0.75s 0.2s forwards ease-out;
}

/* Keyframes */

@keyframes monoIn{
  0%{
    transform: translateX(-1000px);
  }
}

@keyframes compIn{
  0%{
    transform: translateX(1000px);
  }
}

@keyframes anagIn{
  0%{
    transform: translateX(-1000px);
  }
}

@keyframes textIn{
  0%{
    transform: translateY(-70px);
  }
  100%{
    opacity: 100;
  }
}

@keyframes flyOut{
  100%{
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes flyIn{
  0%{
    transform: translateX(1000px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 100;
  }
}




/* Testing */
#mono1{
  display: none;
}

#mono2{
  display: none;
}